html, body{
    height: 0;
    width: 100%;
    
    margin: 0;
  
}
header{
  width: 1440px;
  height: 800px;
  object-fit: contain;
    background-image: url( 'img-hero-image@3x.png');
    background-size: cover;
    }
nav{
  padding-top: 25px;
        width: 1440px;
        height: 60px;
        opacity: 0.1;
        background-color: #0f1110;
        justify-content: space-between;
        align-items: center;
        display: flex;
      }
    /*margin-top: 64px;
    width:100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;*/


a:hover {
    background-color:rgba(0,0,0,0.5);
    color: greenyellow;
  }
.logo-frontend-ninja{
        width: 121px;
        height: 35px;
        object-fit: contain;
      }

.home {
    width: 44px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
 
    letter-spacing: normal;
    color: #70c919;
  }

/*
    position:absolute;
    margin-left:10px;
    max-height: 35px;
    max-width: 121px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}*/

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 25%;
    height: 19px;
    color: white;
    text-decoration: none;
    font-family: Arial;    
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.are_you_frontend {
    width: 922px;
    height: 96px;
    font-family: Roboto;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-left:259px;
  }
  

.frontend_ninja {
    width: 624px;
    height: 84px;
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    margin-left:409px;
  }
.container{
  
    display: flex;
}
.image{
  display: flex;

}
.image_one{
  display:flex;

}
.button{
    width: 192px;
    height: 67px;
    border-radius: 4px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
    background-color: #27ad6c;
    margin-top: 558px;
    margin-bottom: 175px;
    text-align: center;
  }

.what_you_should_have{
    width: 476px;
    height: 96px;
    font-family: Roboto;
    font-size: 48px;
    color: #9b9b9b;
    margin-left: 482.5px;
    padding-top:145px;
  }
.img_requirement_3 {
        width: 300px;
        height: 196px;
        object-fit: contain;
        margin-left: 190px;
      }
.img_requirements_2 {
        width: 300px;
        height: 196px;
        object-fit: contain;
        padding-left: 8px;
        margin-right: 570px;
        margin: auto;
   }
.img_requirements_1 {
        width: 300px;
        height: 196px;
        object-fit: contain;
        margin-right: 190px;
    }

.attention_to_detail{
        width: 300px;
        height: 24px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        color: #27ad6c;
        margin-left: 190px;
       flex:2;
       
      }
p{
  width: 300px;
  height: 66px;
  opacity: 0.78;
  font-family: Roboto;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 1.57;
  text-align: center;
  margin-left: 190px;
}
.frontend_tech_knowledge{
    width: 300px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 570px;
    color: #27ad6c;
   
   
  }
  .love_for_technology{
    width: 300px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 570px;
    color: #27ad6c;
  }
.resources{
        width: 229px;
        height: 63px;
        font-family: Roboto;
        font-size: 48px;
        margin-left:120px;
        color: #9b9b9b;
}
.latest_from_frontend {
        width: 229px;
        height: 63px;
        font-family: Roboto;
        font-size: 48px;
        margin-left:491px; 
        color: #9b9b9b;
      
}
.heading{
    display:flex;
    
        
    }
.globe img{
    width: 22px;
    height: 22px;
    background-color: #d2d9ca;
    vertical-align: middle;
  }


.random_photos {
    width: 577px;
    height: 96px;
    font-family: Roboto;
    font-size: 48px;
    color: #9b9b9b;
    line-height: 0;
    padding-top: 250px;
    margin-left:432.5px;
  }
.food_photos6{
  width: 480px;
  height: 400px;
  line-height: 0;
}
.what_we_provide_bg
{
    width: 1440px;
    height: 1147px;
    background-color: #423633;
}
.provide{
    width: 358px;
    height: 96px;
    font-family: Roboto;
    color:#ffffff;
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
    margin-left: 542.5px;
}

.designer{
    width: 108px;
    height: 21px;
    font-family: Roboto;
    font-size: 16px;
    color: #27ad6c;
}
.grid1{
    width: 402px;
    height: 21px;
    font-family: Roboto;
    font-size: 16px;
    color: #27ad6c;
}
section1{
    display:grid;
    grid-template-columns: 300px 300px;
    margin-left: 120px;
    
}
.line{
    width: 400px;
    height: 9px;
    color:blue;
    font-weight: bold;;
}
.tailored{
    width: 240px;
    height: 26px;
    font-family: Roboto;
    font-size: 18px;
    color:#ffffff;  
    margin-left: 11px;
    

}
.ic_image{
    width: 60px;
  height: 60px;
  margin-left:179px;
  
}
.a_small_river{
width: 240px;
  height: 72px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-left: 250px;
  
}


